* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  margin: 0 auto 0 auto;
  background: #dad7de;
}
.invisible {
  visibility: hidden;
}
.wrapper {
  max-width: 1000px;
  /* min-width: 320px; */
  margin: 0 auto 0 auto;
  text-align: center;
  box-shadow: 0px 50px 50px -10px rgba(0, 0, 0, 0.3);
}
.header-nav {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
  color: #717171;
}
header {
  max-width: 100%;
  width: 100%;
  background: #0a0a0a;
  color: #dad7de;
  margin: 0 auto 0 auto;
}
#contacts {
  text-align: center;
  margin: 80px 0;
}
.home,
.phone,
.mail,
.github,
.telegram {
  max-width: 20px;
  width: 100%;
}
.under-line {
  margin: 0 auto 10px;
  width: 75%;
  background: rgb(110, 86, 110, 0.5);
  height: 3px;
  border-radius: 3px;
}
.contacts-list,
#education > p,
#about > p,
#skills > ul,
#english > p {
  text-align: start;
  line-height: 40px;
  margin: 20px 80px;
}
.contacts-list > li {
  display: flex;
  align-items: stretch;
}
.contacts-list > li > img {
  margin-right: 10px;
}
#about,
#education,
#skills,
#english {
  margin-top: 80px;
}
.container {
  margin: 0 auto 0 auto;
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
h1 {
  font-size: 26px;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #717171;
  transition: color 0.5s;
}
.contacts-list > li > a {
  color: rgba(114, 30, 114, 0.8);
  text-decoration: none;
}
.image-box {
  text-align: center;
  margin: 80px 0;
}
.image-autor {
  max-width: 85%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  border: solid #6e566e80 15px;
}
main {
  text-align: center;
  background: #dad7de;
}
aside {
  background: rgb(110, 86, 110, 0.3);
}
.logo-rs {
  max-width: 60px;
  width: 100%;
  filter: drop-shadow(2px 2px 0px #717171);
}
footer {
  background: #0a0a0a;
  color: #717171;
  font-size: 14px;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }
  .wrapper {
    max-width: 500px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header-nav {
    visibility: hidden;
  }
}
@media (max-width: 420px) {
  .contacts-list,
  #education > p,
  #about > p,
  #skills > ul,
  #english > p {
    margin: 0 40px;
  }
}
